{% extends 'base.html' %}
    {% block body %}
        <div class="bg-light">
            <div class="form-row p-2">
              <div class="input-group">
                <div class="input-group-prepend">
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> IP: {{chosen_ip}}</span>
                </div>
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> MAC: {{chosen_mac}}</span>
                </div>
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> PRODUCENT: {{chosen_vendor}}</span>
                </div>
                </div>
                </div>
            </div>
        </div>

<div class="row m-2">
  <div class="card m-2 p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Check Vendor</h5>
      <p class="card-text">{{vendor}}</p>
      <div class="text-center">
        <form action="/actions/check_vendor/" method="POST">
          <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card m-2 p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">PING</h5>
      {% if ping != "?" %}
      {% if ping != "Request timed out" %}
      {% for p in ping %}
      <p class="card-text"> {{p}} </p>
      {% endfor %}
      {% endif %}
      {% if ping == "Request timed out" %}
      <p class="card-text"> {{ping}}</p>
      {% endif %}
      {% endif %}
      <div class="text-center">
        <form action="/actions/ping/" method="POST">
          <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card m-2 p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Ports</h5>
      {% if o_ports != "?" %}
      <p class="card-text">Otwarte porty: {{o_ports}}</p>
      <p class="card-text">Zamknite porty: {{c_ports}}</p>
      <div class="text-center">
      {% endif %}
        <form action="/actions/scan_ports/" method="POST">
          <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
        </form>
      </div>
    </div>
  </div>


  <div class="card m-2 p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">IP Spoofing</h5>
        {% if spoof != "?" %}
          <p class="card-text">{{spoof}}</p>
          <div class="text-center">
        {% endif %}
          <div class="text-center">
          <form action="/actions/ip_spoofing/" method="POST">
          <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
        </form>
      </div>
    </div>
  </div>
  </div>


  <div class="card m-2 p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Frame Grabber</h5>
      {% if frame != "?" %}
          <p class="card-text">{{frame}}</p>
          <div class="text-center">
      {% endif %}
      <div class="text-center">
        <form action="/actions/frame_grab/" method="POST">
          <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
        </form>
      </div>
    </div>
  </div>
  </div>

<a href="/scan/" class="btn btn-primary"> << back </a>
    {% endblock %}