{% extends 'base.html' %}
    {% block body %}
        <div class="bg-light">
            <div class="form-row p-2">
              <div class="input-group">
                <div class="input-group-prepend">
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> IP: {{chosen_ip}}</span>
                </div>
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> MAC: {{chosen_mac}}</span>
                </div>
                <div class="p-1 input-group-prepend">
                  <span class="input-group-text"> PRODUCENT: {{chosen_vendor}}</span>
                </div>
                </div>
                </div>
            </div>
        </div>

    <div class="pt-2">
      <div class="px-5">

        <div class="card text-center p-3 mb-3">
          <div class="card-body">
            <h5 class="card-title text-center">Check Vendor</h5>
            <p class="card-text"> {{chosen_vendor}} </p>
            <div class="text-center">
              <form action="/actions/check_vendor/" method="POST">
                <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card text-center p-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">Ping</h5>
            {% if ping != "?" %}
              {% if ping != "Request timed out" %}
                {% for p in ping %}
                  <p class="card-text"> {{p}} </p>
                {% endfor %}
              {% endif %}
              {% if ping == "Request timed out" %}
                <p class="card-text"> {{ping}}</p>
              {% endif %}
            {% endif %}
            <div class="text-center">
              <form action="/actions/ping/" method="POST">
                <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card text-center p-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">Ports</h5>
            {% if o_ports != "?" %}
            <p class="card-text">Otwarte porty: {{o_ports}}</p>
            <p class="card-text">Zamknite porty: {{c_ports}}</p>
            <div class="text-center">
            {% endif %}
              <form action="/actions/scan_ports/" method="POST">
                <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="px-5">

        <div class="card text-center p-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">Sniff Packets on This IP</h5>
              {% if sniff != "?" %}
                <p class="card-text">{{sniff}}</p>
                {% for summ in sniff_summary %}
                <p class="card-text">{{summ}}</p>
                {% endfor %}
              {% endif %}
              <div class="text-center">
                <form action="/actions/ip_sniffing/" method="POST">
                  <select name="value_of_times">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                  </select>
                  <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
                </form>
              </div>
          </div>
        </div>


        <div class="card text-center p-3 mb-3">
          <div class="card-body">
            <h5 class="card-title text-center">Frame Grabber</h5>
            {% if frame != "?" %}
                <p class="card-text">{{frame}}</p>
            {% endif %}
            <div class="text-center">
              <form action="/actions/frame_grab/" method="POST">
                {% if o_ports != '?' %}
                  {% if o_ports != '[?]' %}
                    <select name="chosen_port">
                      {% for o in o_ports %}
                        <option value="{{o}}">{{o}}</option>
                      {% endfor %}
                    </select>
                  {% endif %}
                {% endif %}
                {% if o_ports != '?' %}
                  {% if o_ports != '[?]' %}
                      <button name="" type="submit" class="btn btn-outline-info center">Go somewhere</button>
                    {% else %}
                      <button name="" type="submit" class="btn btn-outline-dangerous center disabled" disabled>Go somewhere</button>
                  {% endif %}
                  {% else %}
                      <button name="" type="submit" class="btn btn-outline-dangerous center disabled" disabled>Go somewhere</button>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="row px-5">
    <a href="/scan/" class="btn btn-primary"> << back </a>
  </div>
  {% endblock %}