{% extends 'base.html' %}
    {% block body %}
        <div class="px-2 py-2">
            <div class="button is-static">
                IP: {{chosen_ip}}
            </div>
            <div class="button is-static">
                MAC: {{chosen_mac}}
            </div>
            <div class="button is-static">
                PRODUCENT: {{chosen_vendor}}
            </div>
        </div>

   <div class="px-2 py-2">
            <div class="tile is-ancestor is-dark">
              <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification box is-primary">
                            <p class="title"> Sprawdź Producenta Online </p>
                            <p class="subtitle"> {{chosen_vendor}} </p>
                            <form class="form" action="/actions/check_vendor/" method="POST">
                                <button class="button is-link is-rounded" type="submit"> Sprawdź </button>
                            </form>
                        </article>
                        <article class="tile is-child box">
                            <p class="title">Frame Grabber</p>
                            {% if frame != "?" %}
                                <p class="subtitle">{{frame}}</p>
                            {% endif %}
                            <form class="form" action="/actions/frame_grab/" method="POST">
                            {% if o_ports != '?' %}
                              {% if o_ports != '[?]' %}
                                <div class="select is-normal is-link is-rounded">
                                    <select name="chosen_port">
                                      {% for o in o_ports %}
                                        <option value="{{o}}">{{o}}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                              {% endif %}
                            {% endif %}
                            {% if o_ports != '?' %}
                              {% if o_ports != '[?]' %}
                                  <button type="submit" class="button is-link is-rounded">Sprawdź</button>
                                {% else %}
                                  <button type="submit" class="button is-link is-rounded" disabled>Sprawdź</button>
                              {% endif %}
                              {% else %}
                                  <button type="submit" class="button is-link is-rounded" disabled>Sprawdź</button>
                            {% endif %}
                            </form>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                          <p class="title">Ports</p>
                            {% if o_ports != "?" %}
                                <p class="subtitle">Otwarte porty: {{o_ports}}</p>
                                <p class="subtitle">Zamknite porty: {{c_ports}}</p>
                            {% endif %}
                            <form class="form" action="/actions/scan_ports/" method="POST">
                                <button class="button is-link is-rounded" type="submit"> Sprawdź </button>
                            </form>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title">Przechwytywanie Paczek</p>
                    {% if sniff != "?" %}
                        <p class="subtitle">{{sniff}}</p>
                        {% for summ in sniff_summary %}
                            <p class="subtitle">{{summ}}</p>
                        {% endfor %}
                    {% endif %}
                    <form class="form" action="/actions/ip_sniffing/" method="POST">
                        <div class="select is-normal is-link is-rounded">
                            <select name="value_of_times">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <button class="button is-link is-rounded" type="submit"> Sprawdź </button>
                    </form>
                  </article>
                </div>
              </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title"> PING </p>
                        {% if ping != "?" %}
                            {% if ping != "Request timed out" %}
                                {% for p in ping %}
                                    <p class="subtitle">{{p}}</p>
                                {% endfor %}
                            {% endif %}
                            {% if ping == "Request timed out" %}
                                <p class="subtitle">{{ping}}</p>
                            {% endif %}
                        {% endif %}
                        <form class="form" action="/actions/ping/" method="POST">
                            <button class="button is-link is-rounded" type="submit"> Sprawdź </button>
                        </form>
                    </article>
                </div>
            </div>
   </div>


  <div class="is-fullwidth">
    <a href="/scan/" class="button is-info is-fullwidth"> << Powrót </a>
  </div>
  {% endblock %}