<!DOCTYPE html>
  <html lang="en" class="has-background-dark">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css">
      <title>Network Testing Tools</title>
    </head>
          <body class="px-2 py-2">
          <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
              <div id="navbarBasicExample" class="navbar-menu is-active">
                  <div class="navbar-start">
                      {% if scan_interface %}
                      <a class="navbar-item" href="/scan/">Skanowanie sieci lokalnej</a>
                      {% endif %}
                      {% if not scan_interface %}
                      <a class="navbar-item" href="/">Skanowanie sieci lokalnej</a>
                      {% endif %}
                      <hr class="navbar-divider">
                      <a class="navbar-item" href="/port_config/">Konfiguruj porty do skanowania</a>
                      <a class="navbar-item" href="/check_online_sep/">Sprawdzenie Producenta Online</a>
                      <a class="navbar-item" href="/ping_sep/">Ping</a>
                      <a class="navbar-item" href="/port_scan_sep/">Skanowanie Portow</a>
                      <a class="navbar-item" href="/ip_sniff_sep/">Przechwytywanie Paczek</a>
                  </div>
              </div>
          </nav>
        {% block body %}
        {% endblock %}
        </body>
  </html>