{% extends 'base.html' %}
    {% block body %}
        <!-- Pole wyszukiwania -->
        <div class="bg-light">
          <form class="p-2 w-50" action="/scan/" enctype="multipart/form-data" method="POST">
            <div class="form-row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Adres:</span>
                </div>
                <div class="col-1">
                  <input type="text" class="form-control" placeholder="192" value="192" name="ip1" />
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text">.</span>
                </div>
                <div class="col-1">
                  <input type="text" class="form-control" placeholder="168" value="168" name="ip2" />
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text">.</span>
                </div>
                <div class="col-1">
                  <input type="text" class="form-control" placeholder="0" value="50" name="ip3" />
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text">.</span>
                </div>
                <div class="col-1">
                  <input type="text" class="form-control" placeholder="1" value="1" name="ip4" />
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text">/</span>
                </div>
                <div class="col-1">
                  <input type="text" class="form-control" placeholder="24" value="24" name="ipwide" />
                </div>
                <div class="col">
                  <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
                <div class="pt-2 pb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> Twój adress IP: {{my_ip_address}}</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">IP Address</th>
                <th class="text-center">MAC Address</th>
                <th class="text-center">VENDOR</th>
              </tr>
            </thead>
            <tbody>
              {% for scan in scaned %}
                <tr>
                  <td class="text-center">{{ scan.ip }}</td>
                  <td class="text-center">{{ scan.mac }}</td>
                  <td class="text-center">{{ scan.vendor }}</td>
                  <td><a href="/actions/{{scan.ip}}" class="btn btn-primary"> >> </a></td>
                </tr>

              {% endfor %}
            </tbody>
        </table>
        </body>
    {% endblock %}

