{% extends 'base.html' %}
    {% block body %}
      <form class="px-2 py-2 is-dark" action="/scan/" enctype="multipart/form-data" method="POST">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">Adres: </a>
                </p>
                <p class="control">
                    <input type="text" class="input" placeholder="192" value="192" name="ip1">
                </p>
                <p class="control">
                    <a class="button is-static">.</a>
                </p>
                <p class="control">
                    <input type="text" class="input" placeholder="168" value="168" name="ip2">
                </p>
                <p class="control">
                    <a class="button is-static">.</a>
                </p>
                <p class="control">
                    <input type="text" class="input" placeholder="50" value="50" name="ip3">
                </p>
                <p class="control">
                    <a class="button is-static">.</a>
                </p>
                <p class="control">
                    <input type="text" class="input" placeholder="1" value="1" name="ip4">
                </p>
                <p class="control">
                    <a class="button is-static">/</a>
                </p>
                <p class="control">
                    <input type="text" class="input" placeholder="24" value="24" name="ipwide">
                </p>
                <button class="button is-info" type="submit">
                    Skanuj
                </button>
            </div>
        </form>
        <div class="px-2">
            <div class="button is-static">
                Twoj adres IP to : {{my_ip_address}}
            </div>
        </div>


        <div id="data" class="px-2 py-2">
            <table class="table is-bordered is-striped is-fullwidth has-background-light ">
                <thead class="th is-selected">
                    <th class="has-text-centered">Adres IP</th>
                    <th class="has-text-centered">Adres MAC</th>
                    <th class="has-text-centered">Producent</th>
                    <th></th>
                </thead>
              {% for scan in scaned %}
                <tbody>

                    <td class="has-text-centered">{{ scan.ip }}</td>
                    <td class="has-text-centered">{{ scan.mac }}</td>
                    <td class="has-text-centered">{{ scan.vendor }}</td>
                    <td style="width: 120px;" ><a style="width: 120px;" class="button is-success is-fullwidth" href="/actions/{{scan.ip}}"> Więcej opcji </a></td>

                </tbody>
              {% endfor %}
            </table>
        </div>

        </body>
    {% endblock %}

