{% extends 'base.html' %}
    {% block body %}
        <div class="tile box">
            <article class="px-2 py-2">
                    <p class="title"> Ip Sniffer </p>
                {% if value1 != None %}
                    <p class="subtitle">{{value1}}</p>
                  {% for v in value2 %}
                    <p class="subtitle">{{v}}</p>
                  {% endfor %}
                {% endif %}
                <div class="content">
                    <form class="form" action="/ip_sniff_sep_act/" enctype="multipart/form-data" method="POST">
                        <div class="field has-addons">
                            <div class="select is-normal is-link is-rounded">
                                <select name="times">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <input name="ip_adrr" type="text" class="input is-link" placeholder="Podaj Adres IP">
                            <button class="button is-link" type="submit"> Sprawdź </button>
                        </div>
                    </form>
                </div>
            </article>
        </div>


        {% if scan_interface %}
                <div class="is-fullwidth">
                    <a href="/scan/" class="button is-info is-fullwidth"> << Powrót </a>
                </div>
            {% endif %}
            {% if not scan_interface %}
                <div class="is-fullwidth">
                    <a href="/" class="button is-info is-fullwidth"> << Powrót </a>
                </div>
        {% endif %}

    {% endblock %}