{% extends 'base.html' %}
    {% block body %}
        <div class="p-3">
            <p class="text"> Port scanner </p>
            <p class="card-text">Otwarte porty: {{value1}}</p>
            <p class="card-text">Zamknite porty: {{value2}}</p>
            <form class="p-2 w-50" action="/port_scan_sep_act/" enctype="multipart/form-data" method="POST">
                <input name="ip_adrr" type="text" class="form-control" placeholder="Podaj Adres IP">
                <button class="btn btn-outline-primary" type="submit">Dodaj</button>
            </form>
        </div>

        {% if scan_interface %}
        <div class="row px-5">
            <a href="/scan/" class="btn btn-primary"> << back </a>
        </div>
        {% endif %}
        {% if not scan_interface %}
        <div class="row px-5">
            <a href="/" class="btn btn-primary"> << back </a>
        </div>
        {% endif %}

    {% endblock %}