{% extends 'base.html' %}
    {% block body %}
        <div class="tile box">
            <article class="px-2 py-2">
                <p class="title"> Port scanner </p>
                <p class="subtitle">Otwarte porty: {{value1}}</p>
                <p class="subtitle">Zamknite porty: {{value2}}</p>
                <div class="content">
                    <form class="form" action="/port_scan_sep_act/" enctype="multipart/form-data" method="POST">
                        <div class="field has-addons">
                            <input name="ip_adrr" type="text" class="input is-link" placeholder="Podaj Adres IP">
                            <button class="button is-link" type="submit"> Sprawdź </button>
                        </div>
                    </form>
                </div>
            </article>
        </div>

        {% if scan_interface %}
            <div class="is-fullwidth">
                <a href="/scan/" class="button is-info is-fullwidth"> << Powrót </a>
            </div>
        {% endif %}
        {% if not scan_interface %}
            <div class="is-fullwidth">
                <a href="/" class="button is-info is-fullwidth"> << Powrót </a>
            </div>
        {% endif %}

    {% endblock %}