{% extends 'base.html' %}
    {% block body %}
        <div class="tile box">
            <article class="px-2 py-2">
                <p class="title"> Dodaj lub usuń port do skanowania</p>
                <p class="subtitle"> {{list_of_ports}}</p>
                <div class="content">
                    <form class="form" action="/add_port/" enctype="multipart/form-data" method="POST">
                        <div class="field has-addons">
                            <input name="new_port" type="text" class="input is-link" placeholder="Podaj numer portu do dodania">
                            <button class="button is-success" type="submit">Dodaj</button>
                        </div>
                    </form>
                </div>
                <div class="content">
                <form class="form" action="/del_port/" enctype="multipart/form-data" method="POST">
                        <div class="field has-addons">
                            <div class="select is-normal is-link is-rounded">
                                <select name="port_to_del">
                                    {% for l in list_of_ports %}
                                    <option value="{{l}}"> {{l}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="button is-danger" type="submit">Usuń</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>

        {% if scan_interface %}
            <div class="is-fullwidth">
                <a href="/scan/" class="button is-info is-fullwidth"> << Powrót </a>
            </div>
        {% endif %}
        {% if not scan_interface %}
            <div class="is-fullwidth">
                <a href="/" class="button is-info is-fullwidth"> << Powrót </a>
            </div>
        {% endif %}

    {% endblock %}